.footer{
  padding: 144px 0 43px;
  position: relative;
  &:before{
    position: absolute;
    content: '';
    left: 0;
    top: 109px;
    right: 0;
    width: 100%;
    height: 1px;
    background: #1E222D;
    max-width: 1170px;
    margin: 0 auto;
  }
  .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &-logo{
    width: 148px;
    a, img{
      display: inline-block;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: calc(100% - 218px);
  }
  &-item{
    display: flex;
    margin-right: 70px;
    &:last-of-type{
      margin-right: 0;
    }
    &__title{
      color: #381DDB;
      font-size: 14px;
      font-family: $Montserrat;
      font-style: normal;
      font-weight: 800;
      line-height: 20px;
    }
    &__text{
      color: #1E222D;
      font-size: 14px;
      font-family: $Montserrat;
      font-style: normal;
      font-weight: 600;
      line-height: 20px;
      a{
        color: #1E222D;
        font-size: 14px;
        font-family: $Montserrat;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
        transition: all ease 300ms;
        span{
          color: #381DDB;
          transition: all ease 300ms;
        }
        &:hover{
          color: #381DDB;
          span{
            color: #1E222D;
          }
        }
      }
    }
  }
}
