
@media screen and (max-width: 1200px) {
  .hero{
    &-wrap{
      max-width: 480px;
    }
    &-title{
      font-size: 36px;
    }
  }
  .header{
    &-nav{
      li{
        margin-right: 25px;
      }
    }
  }
  .work{
    .container{
      position: relative;
    }
    &-inner{
      max-width: 100%;
    }
    &-media{
      position: absolute;
      height: auto;
      top: 240px;
      left: 0;
      right: 0;
      margin: 0 auto;
      img{
        object-fit: contain;
        height: auto;
      }
    }
    &-item{
      span{
        width: 40px;
        height: 40px;
        left: 0;
        position: relative;
        top: 0;
        font-size: 17px;
        float: left;
        margin: 0  10px 0 0 ;
      }
      &:nth-of-type(2){
        margin-bottom: 500px;
      }
      &__text{
        font-size: 15px;
      }
    }
  }
  .service{
    &-item{
      padding: 20px 14px 22px;
      &__title{
        font-size: 18px;
        line-height: 28px;
      }
    }
  }
  .about{
    &-desc {
      max-width: 500px;
    }
  }
  .reviews{
    &-item{
      &__media{
        width: 100px;
        height: 100px;
      }
      &__desc{
        max-width: calc(100% - 112px);
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .subtitle-section{
    font-size: 15px;
    line-height: 120%;
    text-align: left;
  }
  .reviews{
    .title-section{
      text-align: left;
    }
  }
  .about{
    &-media{
      margin: 0 auto;
      span{
        font-size: 15px;
        padding: 8px 8px 8px 35px;
        &:before{
          width: 30px;
          height: 30px;
          left: 3px;
          top: 3px;
        }
      }
    }
    &-desc{
      max-width: 100%;
      margin-bottom: 25px;
      .text-info{
        font-size: 15px;
        p{
          font-size: 15px;
          margin-bottom: 14px;
        }
      }
    }
  }
  .service{
    padding: 0 0 35px;
    &-item{
      width: calc(50% - 26px);
      margin: 0 13px 22px;
    }
  }
  .hero{
    background-position: left;
    background-size: auto;
    padding: 100px 0 240px;
    &-form{
      position: absolute;
      bottom: -250px;
      padding: 25px 20px;
      left: 0;
      right: 0;
      margin: 0 auto;
    }
    &-wrap{
      max-width: 100%;
      text-align: center;
    }
    &-subtitle{
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 20px;
      display: inline-block;
    }
    &-title{
      width: 100%;
      font-size: 35px;
      margin-bottom: 20px;
    }
    &-text{
      font-size: 18px;
      line-height: 28px;
      margin-bottom: 20px;
    }
    &-form{
      &__title{
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 15px;
      }
      &__text{
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 20px;
      }
      label{
        margin-bottom: 13px;
      }
    }
  }
  .work{
    padding: 292px 0 35px;
  }
  .header{
    padding: 9px 0;
    border-radius: 0;
    &:before{
      position: absolute;
      top: 0;
      content: '';
      left: 0;
      width: 100%;
      height: calc(100vh + 30px);
      z-index: -1;
      opacity: 0;
      visibility: hidden;
      background: rgba(0,0,0,.4);
      transition: all ease 300ms;
    }
    &:after{
      position: absolute;
      top: 0;
      content: '';
      right: 0;
      width: 260px;
      height: 100vh;
      background: rgba(56,29,219,0.9);
      opacity: 0;
      visibility: hidden;
      z-index: -1;
    }
    &-nav{
      transition: all ease 300ms;
      opacity: 0;
      visibility: hidden;
      z-index: -1;
      position: absolute;
      top: 100%;
      width: 100%;
      max-width: 210px;
      right: 0;
      ul{
        flex-direction: column;
        width: 100px;
      }
      li{
        margin: 0 0 10px;
      }
    }
    &.active{
      .header-nav{
        opacity: 1;
        visibility: visible;
      }
      &:before{
        opacity: 1;
        visibility: visible;
      }
      &:after{
        opacity: 1;
        visibility: visible;
      }
    }
  }
  input{
    font-size: 13px;
  }
  .title-section{
    font-size: 25px;
  }
  .header-btn{
    display: block;
    font-size: 14px;
    font-family: $Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    padding: 8px 16px;
    border: 1px solid #fff;
    color: #fff;
  }
}

@media screen and (max-width: 768px) {
  .contact{
    height: 488px;
    &-form{
      right: 0;
      max-width: 312px;
      &__title{
        font-size: 20px;
        line-height: 28px;
      }
      &__subtitle{
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
  .footer{
    padding: 54px 0 43px;
    &:before{
      top: 30px;
      max-width: calc(100% - 30px);
    }
    .container{
      position: relative;
    }
    &-info{
      width: 100%;
      margin-top: 30px;
      justify-content: space-between;
      flex-direction: row-reverse;
    }
    &-item{
      width: 45%;
      margin-right: 0;
      flex-direction: column;
      &:nth-of-type(3){
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: column;
      }
    }
  }
  .hero{
    padding: 100px 0 280px;
    &-form{
      max-width: 312px;
    }
  }
  .work{
    &-media{
      max-width: calc(100% - 40px);
    }
  }
}
@media screen and (max-width: 576px) {
  .reviews{
    &-item{
      position: relative;
      &__media{
        position: absolute;
        width: 45px;
        height: 45px;
      }
      &__desc{
        max-width: 100%;
      }
      &__title{
        width: 100%;
        padding-left: 60px;
        margin-bottom: 7px;
      }
      &__rating{
        width: 100%;
        padding-left: 60px;
        margin-bottom: 16px;
      }
    }
  }
  .service{
    &-item{
      width: calc(100% - 26px);
      margin: 0 13px 22px;
    }
  }
}